@import url('https://fonts.googleapis.com/css2?family=Archivo+Black&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
}

:root {
    --preto: #0A0A0A;
    --preto-secundario: #151515;
    --dourado: #C6A86A;
    --dourado-claro: #D8BE8A;
    --branco: #F5F5F5;
    --cinza: #A0A0A0;
}

body{
    background: var(--preto);
}

header{
    position: sticky;
    top: 0;
    z-index: 9999;
    background: var(--preto);
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding: 1rem 2rem;
}

.logo{
    width:190px;
    max-width:100%;
}

ul{
    display:flex;
    gap:4rem;
    list-style:none;
}

a{
    text-decoration:none;
    color:var(--branco);
}

main{
    padding:2rem;
}

.first-view{
    background:var(--preto);
    border-radius:20px;

    display:flex;
    align-items:center;
    justify-content:space-between;

    min-height:80vh;
    padding:3rem;
    gap:2rem;
}

h1{
    font-family:'Archivo Black', sans-serif;
    font-size:clamp(2.5rem, 5vw, 4.5rem);
    line-height:1;
    color:var(--branco);
}

#nossa{
    color:var(--dourado);
}

.imagem1{
    width:100%;
    max-width:550px;
    height:auto;
    border-radius:40px;
}

/* TABLET */
@media (max-width: 992px){

    ul{
        gap:2rem;
    }

    .imagem1{
        max-width:450px;
    }
}

/* CELULAR */
@media (max-width: 768px){

    .navbar{
        flex-direction:column;
        gap:1rem;
    }


    .first-view{
        flex-direction:column;
        text-align:center;
        min-height:auto;;;
        padding:2rem;
    }

    h1{
        font-size:3rem;
    }

    .imagem1{
        max-width:350px;
    }
}